.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 180px;
  width: 180px;
  border-radius: 90px;
}

.label {
  color: #ddd;
  font-size: 1.7rem;
  font-weight: 200;
}